.about-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'Libre Baskerville', serif;
  /* height: 100vh; */
}
.bio-details-container {
  display: grid;
  grid-template-columns: 40% auto;
  width: 70%;
  margin: auto;
  gap: 30px;
}

.left-quote,
.right-quote {
  max-height: 70px;
  display: flex;
  flex-direction: row;
}

.left-quote span,
.right-quote span {
  font-family: 'Great Vibes', 'Corinthia', cursive;
  font-size: 7rem;
  margin: 0;
  padding: 0;
}

.left-quote {
  justify-content: flex-start;
}
.right-quote {
  justify-content: flex-end;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgrey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 35px;
}
.quote-text-container p {
  font-size: 2em;
  text-align: center;
  animation: quoteAnim 5s ease 0s 1 normal forwards;
}

@keyframes quoteAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

/* .quote-text-container span {
  text-align: center;
} */
.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.resume-btn button {
  padding: 20px;
  background-color: rgba(255, 147, 95);
  color: aliceblue;
  font-size: 1em;
  font-weight: 700;
  border-radius: 60px;
}

.resume-btn button:hover {
  cursor: pointer;
  animation: btn-shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes btn-shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cyber-skills-container,
.web-skills-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 380px;
  /* border: solid black; */
}

.cyber-skills-container h3,
.web-skills-container h3 {
  text-align: center;
}
