.projects-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'Libre Baskerville', serif;
  animation: projectContainer 2s ease 1s 1 normal backwards;
}
@keyframes projectContainer {
  0% {
    transform: scale(0);
    transform-origin: 50% 100%;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}

.project-sample-container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  border-radius: 20px;
  /* border: solid 2px; */
  /* height: 100vh; */
  /* height: 100vh; */
  /* height: 70vh; */

  margin: auto;
  width: 80%;
}

.project-enclosure {
  /* margin: 10px; */
  display: grid;
  grid-template-columns: 20% auto;
  gap: 30px;
  /* height: 50%; */
}
.image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.image-container {
  /* height: 300px; */
  margin: 10px;
}
.projects-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* width: 80%; */
  margin-right: 30px;
  align-items: center;
}
.projects-buttons-container button {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.projects-buttons-container button:hover {
  cursor: pointer;
  border: rgba(255, 147, 95) solid;
  color: aliceblue;
  background-color: black;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  font-weight: bold;
}

.project-details-container {
  margin-right: 15px;
}

.tech-icons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
