html {
  height: 100vh;
}

body {
  background-color: antiquewhite;
  margin: 5px;
  height: 100%;
}

/* body {
  display: grid;
  grid-template-rows: 6% 100vh 5%;
} */

/* For Tablets */
@media screen and (max-width: 600px) {
  .app-container {
    display: grid;
    grid-template-rows: 17% auto 5%;
    gap: 10px;
    /* overflow: hidden; */
    padding: 5px;
    height: 100vh;
    line-height: 1.6;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 100%; */
  }
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-container h1 {
    text-align: center;
    padding: 15px;
  }
  .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .overview {
    width: 80%;
    text-align: center;
  }

  .intro-container img {
    width: 100%;
  }
  .social-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
  }

  .social-container p {
    margin: 0;
    padding: 0;
  }
  .social-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-items-container li:hover {
    cursor: pointer;
    background-color: rgb(255, 131, 71);
    border-radius: 5px;
  }

  .project-details-container {
    padding: 5px;
    margin: 0;
  }
  .project-details-container p {
    text-align: center;
  }
  .project-enclosure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-details-container p,
  h2 {
    text-align: center;
  }

  .tech-icons-container,
  .projects-buttons-container {
    justify-content: center;
  }

  .projects-buttons-container {
    margin: 0;
  }
}

/* For Laptops */
@media screen and (max-width: 768px) {
  .app-container {
    display: grid;
    grid-template-rows: 17% auto 5%;
    gap: 10px;
    /* overflow: hidden; */
    padding: 5px;
    height: 100vh;
    line-height: 1.6;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 100%; */
  }
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-container h1 {
    text-align: center;
    padding: 15px;
  }
  .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .overview {
    width: 80%;
    text-align: center;
  }
  .intro-container img {
    width: 100%;
  }

  .social-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
  }

  .social-container p {
    margin: 0;
    padding: 0;
  }
  .social-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-items-container li:hover {
    cursor: pointer;
    background-color: rgb(255, 131, 71);
    border-radius: 5px;
  }

  .project-details-container {
    padding: 5px;
    margin: 0;
  }
  .project-details-container p {
    text-align: center;
  }
  .project-enclosure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-details-container p,
  h2 {
    text-align: center;
  }

  .tech-icons-container,
  .projects-buttons-container {
    justify-content: center;
  }

  .projects-buttons-container {
    margin: 0;
  }

  .bio-details-container {
    display: flex;
    flex-direction: column;
  }
}

/* For Large Laptops */
@media screen and (max-width: 992px) {
  .app-container {
    display: grid;
    grid-template-rows: 17% auto 5%;
    gap: 10px;
    /* overflow: hidden; */
    padding: 5px;
    height: 100vh;
    line-height: 1.6;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 100%; */
  }
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .overview {
    width: 80%;
    text-align: center;
  }
  .intro-container img {
    width: 100%;
  }
  .social-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
  }

  .social-container p {
    margin: 0;
    padding: 0;
  }
  .social-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-items-container li:hover {
    cursor: pointer;
    background-color: rgb(255, 131, 71);
    border-radius: 5px;
  }
}

/* For Big TV's (HD Screens)  */
@media screen and (max-width: 1280px) {
  .bio-details-container {
    width: 100%;
    gap: 15px;
  }
  .about-bio-container {
    margin: 20px;
  }
  .quote-container {
    margin: 20px;
    /* gap: 15px; */
  }
}

/* For Projectors or Higher Resolution Screens (Full HD) */
@media screen and (max-width: 1920px) {
}

/* For 4K Displays (Ultra HD) */
@media screen and (max-width: 3840px) {
}
